/*******background*******/
body{
    background-color: red;
}

/*********logo************/

header{
    text-align: center;
    overflow: auto;
}

#felix{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 300px;
    margin-right: -300px;
}

h1{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px black;
}

/*********labels**********/
legend{
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em; 
    color: white;
    text-shadow: 2px 2px black;
}

p{
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em; 
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

label{
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold; 
    font-size: 1.25em;
}

/*******form proper*******/
fieldset{
    background-color: rgb(255, 221, 0);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a:link{
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

h2{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px black;
}

.menu{
    text-align: center;
    margin-bottom: 50px;
}

#menu_burger, #menu_pasta, #menu_fries, #menu_drinks { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

a:visited{
    color: white;
}

a:hover{
    color: yellow;
    
}

a:active{
    color: white;
}

.menu_pic{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#burger_pic{
    width: 310px;
    height: 210px;
}

#pasta_pic{
    width: 275px;
    height: 110px;
}

#fries_pic, #drinks_pic{
    width: 225px;
    height: 225px;
}

input[type="number"], input[type="text"], input[type="tel"]{
    width: 250px;
    height: 20px;
    margin: 10px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#middleinitial {
    width: 20px;
}

#houseNo, #streetNo{
    width: 70px;
}

#city, #province, #zipcode{
    width: 100px;
    height: 25px;
}

textarea{
    width: 560px;
    height: 250px;
    resize: none;
}

#friessize{
    background-color: red;
    color: yellow;
    font-size: 1.25em;
    font-weight: bold;
}

#burgerquantity, #pastaquantity, #friesquantity, #drinksquantity{
    width: 50px;
}

button{
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.35em;
    font-weight: bold;
    width: 175px;
    background-color: red;
    color: yellow;
}

.submitform{
    text-align: center;
    margin: 30px 30px;

}




