/*--------------------------------------------Top 10 Movies-----------------------------------------*/

/*--------------------------images------------------------*/

#logo {
    width: 215px;
    height: 215px;
    vertical-align: middle;
}

.posters {
    width: 255px;
    height: 320px;
}

/*-------------------------links---------------------------*/

.links {
    padding: 5px 15px;
}

.links:link {
    color: #fefffb; 
    text-decoration: none;
    border-radius: 35px;
}

.links:visited {
    color: #fefffb; 
    text-decoration: none;
    border-radius: 35px;
}

.links:hover {
    background-color: #fc606c;
    color: #fefffb; 

}

.links:active {
    background-color: #fc606c;
    color: #da4188;
}

aside {
    width: 315px;
    height: 450px;
    text-align: center;
    margin-right: 25px;
    margin-left: -115px;
    float: left;
    clear: both;
}

/*-----------------------content--------------------------*/

.moviesfile
{
    background-image: url('../IMAGES/gradient.png');
    background-color: #663b86;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin: 15px 175px;
}

.container {
    padding-left: 245px;
    padding-right: 100px;
}

thead > tr > td {
    text-align: center;
    font-weight: bold;
}

ul > li {
    list-style-image: url('../IMAGES/heart.png');
    font-family: 'Prompt', sans-serif;
    margin: 0 25px; 
    padding: 5px 15px;
    text-align: left;
}

/*--------------------------text---------------------------*/

#moviepagetitle {
    font-family: 'Press Start 2P', cursive;
    color: #F6D0C8;
    display: inline-block;
    text-shadow: 4px 4px #fc606c;
}

.moviesh2 {
    font-family: 'Press Start 2P', cursive;
    color: #F6D0C8;
    text-shadow: 4px 4px #fc606c;
    display: inline-block;

}

#desc {
    color: white;
    font-size: 1.25em;
}

table {
    border: 5px dashed #F6D0C8;
}

td, p{
    font-family: 'Prompt', sans-serif;
    padding: 10px 10px;
    font-size: 1em;
    color: white;
    text-align: justify;

}

/*--------------------------------------------Student Info-------------------------------------------------------*/

/*-----------------------images--------------------------*/

#felixlogo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------content--------------------------*/
.formheader {
    text-align: center;
}

.studentinfopage {
    background-color: #fdffce;
    font-family: 'Comic Neue', cursive;
    color: #ff3333;
}

/*--------------------form proper-----------------------*/ 
fieldset {
    width: 925px;
    margin: 0 auto;
    border: 3px solid #ff6600;
    text-align: center;
}

legend {
    text-align: center;
    font-size: 1.25em;
}

input {
    outline: 0;
    border-width: 0px 0px 2px;
    border-color: #ff3333;
    margin: 10px 10px;
    height: 20px; 
}

label {
    font-size: 1.15em;
    display: inline-block;
    text-align: right;
}

/*--------------------labels-----------------------*/ 

#studname, #guardian, #relative {
    width: 400px;
}

#fathername, #mothername {
    width: 355px;
}

#age {
    width: 30px;
}

#fatherworkplace, #motherworkplace {
    width: 250px;
}

#address {
    width: 575px;
}

#email {
    width: 225px;
}

#medical, #challenges {
    width: 825px;
    height: 75px;
}

/*--------------------form functions-----------------------*/ 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


button[type="submit"] {
    width: 75px;
    height: 35px;
    font-size: 1.15em;
}

textarea {
    resize: none;
}

/*--------------------text-----------------------*/

.class {
    line-height: 2;
}

#schooladdress, #schoolyr {
    font-size: 0.75em;
}

.school {
    font-weight: bold;
}