/*--------------------------------------------Top 10 Movies-----------------------------------------*/

/*--------------------------images------------------------*/

#logo {
    width: 215px;
    height: 215px;
    vertical-align: middle;
}

.posters {
    width: 255px;
    height: 320px;
}

/*-------------------------links---------------------------*/

.links {
    padding: 2px 15px;
}

.links:link {
    color: #fefffb; 
    text-decoration: none;
    border-radius: 35px;
}

.links:visited {
    color: #fefffb; 
    text-decoration: none;
    border-radius: 35px;
}

.links:hover {
    background-color: #fc606c;
    color: #fefffb; 

}

.links:active {
    background-color: #fc606c;
    color: #da4188;
}

/*-----------------------content--------------------------*/

.moviesfile
{
    background-image: url('../IMAGES/gradient.png');
    background-color: #663b86;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin: 15px 175px;
}

.container {
    padding-left: 245px;
    padding-right: 100px;
}

.header {
    padding-left: 245px;
    padding-right: 100px;
    text-align: center;
}

thead > tr > td {
    text-align: center;
    font-weight: bold;
}

aside {
    width: 250px;
    height: 550px;
    border: 4px dashed #fc606c;
    border-radius: 15px;
    text-align: center;
    margin-right: 25px;
    margin-left: -165px;
    margin-top: 25px;
    float: left;
    clear: both;
}

ul > li {
    list-style-image: url('../IMAGES/heart.png');
    font-family: 'Prompt', sans-serif;
    font-size: 1.15em;

}

.listcontainer1 {
    margin-left: 400px;
    margin-right: 850px;
}

.listcontainer2 {
    margin-left: 655px;
    margin-right: 525px;
    margin-top: -128.5px;
}

.listcontainer3 {
    margin-left: 980px;
    margin-right: 325px;
    margin-top: -100px;
    margin-bottom: 40px;
}



/*--------------------------text---------------------------*/

#moviepagetitle {
    font-family: 'Press Start 2P', cursive;
    color: #F6D0C8;
    padding-top: 15px;
    display: inline-block;
    text-shadow: 4px 4px #fc606c;
}

.moviesh2, .moviesh3 {
    font-family: 'Press Start 2P', cursive;
    color: #F6D0C8;
    text-shadow: 4px 4px #fc606c;
    display: inline-block;
    text-align: center;

}

#desc {
    color: white;
    font-size: 1.15em;
}

table {
    border: 5px dashed #fc606c;
    border-radius: 15px;
}

td, p{
    font-family: 'Prompt', sans-serif;
    margin: 5px 10px;
    padding: 10px 10px;
    font-size: 1em;
    color: white;
    text-align: justify;

}
