body{
    background-image: url('../IMAGES/lovestray_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}

div.nav {
    margin: 0%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.23);
}

.header img {
    float: left;
    width: 75px;
    height: 75px;
}

img.icon {
    float: right;
    margin-right: 2%;
    padding: 0%;
    
}

img.header {
    top: 20px;
    float: left;
    margin: 0%;
    padding: 0%;
    position: absolute;
}

a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: Helvetica;
}

a:hover {
    color: aqua;
}

/****content****/

h1, h2{
    text-align: center;
    color: white;

}
.sstories{
    margin: 20px 10px;
    overflow: auto;
}

img.successtories_img {
    width: 300px;
    height: 300px;
    float: left;
    margin: 20px 20px;
}

p{
    color: white;
    font-size: 1.25em;
}